<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{/fragments/header :: header-head}"></div>
</head>
<body>
<div th:replace="~{/fragments/header :: header}"></div>
<div class="container">
    <div class="row" style="margin-top: 20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form action="#"
                  th:action="@{'/posts/{id}'(id=${post.id})}"
                  th:object="${post}"
                  th:method="put">
                <h2 class="text-center" th:text="#{blog.editpost}"></h2>

                <div class="input-group mb-3 row">
                    <label for="title"></label>
                    <input id="title" type="text" th:field="${post.title}" th:placeholder="#{blog.input.title}"
                           class="form-control input-lg"/>
                    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="${post.title}">
                        Invalid Title
                    </div>
                </div>
                <div class="input-group mb-3 row">
                    <label for="body"></label>
                    <textarea id="body" th:field="${post.body}"
                              class="form-control input-lg" rows="10"></textarea>
                    <div style="color: red" th:if="${#fields.hasErrors('body')}" th:errors="${post.body}">
                        Invalid Body
                    </div>
                </div>
                <div>
                    <input type="submit" class="btn btn-primary" th:value="#{blog.button.edit}"/>
                    <a href="/" role="button" class="btn btn-secondary" th:text="#{blog.button.cancel}"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{/fragments/footer :: footer}"></div>
</body>
</html>