<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{/fragments/header :: header-head}"></div>
</head>
<body>
<div th:replace="~{/fragments/header :: header}"></div>
<div class="card mb-3">
    <div class="card-header">
        <h1 th:text="${post.title}">Title</h1>
        <div th:text="'Created: ' + ${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')} + ' by '">Created by</div>
        <div><a th:text="${post.user.username}" th:href="@{'/blog/' + ${post.user.username}}">User</a></div>
    </div>
    <h3 class="card-body" th:text="${post.body}">Body</h3>
    <ul sec:authorize="isAuthenticated()">
        <table th:if="${#authentication.getPrincipal().getUsername()} == ${post.user.username}">
            <tr>
                <td>
                    <form th:action="@{'/posts/' + ${post.id}}" th:method="put">
                        <input type="submit" class="btn btn-primary" th:value="#{blog.button.edit}"/>
                    </form>
                </td>
                <td>
                    <form th:action="@{'/posts/' + ${post.id}}" th:method="delete">
                        <input type="submit" class="btn btn-danger" th:value="#{blog.button.delete}"/>
                    </form>
                </td>
            </tr>
        </table>
    </ul>
</div>
<div th:replace="~{/fragments/footer :: footer}"></div>
</body>
</html>